/* 
theme Name: My cars theme
Author: Gurjeet
version: 1.0
Description: Theme by cars 
*/

* {
    margin: 0;
    padding: 0;
}

a { text-decoration: none; }

ul { 
    margin-top: 25px;
    list-style-type: none; 
}

img { 
    width: 100%; 
    height: 100%;
}

.title_list {
    width: 80%;
    margin: 45px auto;
}

.title_list h3 {
    margin-top: 25px;
}

.title {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.title li { 
    margin-top: 25px; 
    flex-basis: 30%; 
    text-align: center;
}

.title li span { 
    margin-top: 15px; 
    display: block;
}

.title li h3 { margin-top: 15px; }

.title li p { margin-top: 15px; }

.title li a {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #000;
    display: inline-block;
    color: #000;
    transition: all .2s ease-in-out;
}

.title li a:hover {
    border: 1px solid transparent;
    background-color: #000;
    color: #fff;
}

.title li:not(:nth-child(3n)) { margin-right: 5%; }

.content {
    width: 80%;
    margin:  45px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content figure {
    flex-basis: 45%;
}

.content p {
    flex-basis: 45%;
}

.lists {
    width: 80%;
    margin: 0 auto;
}

.lists ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.lists ul li { flex-basis: 30%; }

header{
    padding: 25px;
    background-color: #def514;
}

header ul a {
    font-size: 45px;
    text-transform: uppercase;
}

footer { margin: 45px 0; }

footer span {
    display: block;
    font-size: 35px;
    text-align: center;
}

.excerpts {
    width: 80%;
    margin: 45px auto;
}

.excerpts p {  margin-top: 25px; }